.app-header {
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
    position: fixed;
    margin-left: -10px;
    width: calc(100% + 20px);
    height: 70px; 
    display: flex;
    align-items: center;
    justify-content: space-between; 
    background: transparent;
    font-family: "pragmatica", Arial, Helvetica, Sans-Serif;
    text-transform: uppercase;
    font-weight: bolder;
    top: 0;
    left: 0;
    right: 0; 
    backdrop-filter: blur(10px);
    padding: 10px 20px;
    color: white;
}

.app-header img {
    height: 50px; 
    cursor: pointer; 
}

nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-left: 20px;
    font-size: 1rem;
    cursor: pointer;
}

nav ul li a {
    text-decoration: none;
    color: inherit; 
}

nav ul li a:hover {
    text-decoration: underline;
}

body {
    font-family: "pragmatica", Arial, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
    background-color: red; 
    padding-top: 100px; 
    color: aliceblue;
}
.imagem{
    margin: 10px;
    margin-left: 120px;
}

html, body {
    height: 100%;
}
